.btn {
  margin-top: 15px;
  width: 100%;
  color: $color-button;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover {
    background-color: $color-button-light;
  }
}

.default {
  background-color: $background-color-1;
}

.error {
  background-color: $background-color-2;
}

.info {
  background-color: $background-color-3;
}

.success {
  background-color: $background-color-4;
}

.warning {
  background-color: $background-color-5;
}