.container {
  padding: 0 10px;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
}

.theme{

&.col-1 {
  background-color: $background-color-1;
}

&.col-2 {
  background-color:$background-color-2;
}

&.col-3 {
  background-color: $background-color-3;
}

&.col-4 {
  background-color: $background-color-4;
}

&.col-5 {
  background-color: $background-color-5;
}

&.col-6 {
  background-color: $background-color-6;
}

&.col-7 {
  background-color: $background-color-1;
}

&.col-8 {
  background-color: $background-color-2;
}

&.col-9 {
  background-color: $background-color-3;
}

&.col-10 {
  background-color: $background-color-4;
}

&.col-11 {
  background-color: $background-color-5;
}

&.col-12 {
  background-color: $background-color-6;
}
}

.card {
  flex-basis: 100%;
}